extends layout

block content
  include partial/navbar
  include partial/header

    //- Filter and Sort Form Start
  .container-xxl.py-3
    form(action='/courses', method='GET', class='row g-3')
      .col-md-3
        label(for='professorId') #{t('home.Professor')}
        input.form-control(type='number', name='professorId', placeholder=t('home.Professor'), value=(filters.professorId || ''))

      .col-md-3
        label(for='minPrice') #{t('home.MinPrice')}
        input.form-control(type='number', name='minPrice', placeholder=t('home.MinPrice'), value=(filters.minPrice || ''), min='0')

      .col-md-3
        label(for='maxPrice') #{t('home.MaxPrice')}
        input.form-control(type='number', name='maxPrice', placeholder=t('home.MaxPrice'), value=(filters.maxPrice || ''), min='0')

      .col-md-3
        label(for='minRating') #{t('home.MinRating')}
        input.form-control(type='number', step='0.1', min='0', max='5', name='minRating', placeholder=t('home.MinRating'), value=(filters.minRating || ''))

      .col-md-3
        label(for='sortBy') #{t('home.SortBy')}
        select.form-control(name='sortBy')
          option(value='name' selected=(filters.sortBy === 'name')) #{t('home.SortByName')}
          option(value='price' selected=(filters.sortBy === 'price')) #{t('home.SortByPrice')}
          option(value='average_rating' selected=(filters.sortBy === 'average_rating')) #{t('home.SortByRating')}
          option(value='created_at' selected=(filters.sortBy === 'created_at')) #{t('home.SortByDate')}

      .col-md-3
        label(for='sortOrder') #{t('home.SortOrder')}
        select.form-control(name='sortOrder')
          option(value='ASC' selected=(filters.sortOrder === 'ASC')) #{t('home.SortAsc')}
          option(value='DESC' selected=(filters.sortOrder === 'DESC')) #{t('home.SortDesc')}

      .col-md-12
        button.btn.btn-primary(type='submit') #{t('home.ApplyFilters')}

  <!-- Courses Start -->
    .container-xxl.py-5
    .container
      .text-center.wow.fadeInUp(data-wow-delay='0.1s')
        h6.section-title.bg-white.text-center.px-3 #{t('home.Courses-title')}
        h1.mb-5.custom-color #{t('home.Courses-content')}
      .row.g-4.py-2
        if courses && courses.length > 0
          each course in courses
            .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
              .course-item.shadow
                .position-relative.overflow-hidden.text-light.image
                  img.img-fluid(src='img/course-1.jpg' alt=course.name)
                  .px-2.py-1.fw-bold.text-uppercase
                    | #{course.price ? t('home.FREE') : t('home.PAID')}
                .p-2.pb-0
                  h5.mb-1
                    a.text-dark(href=`/courses/${course.id}`) #{course.name}
                  .d-flex
                    small.flex-fill.py-1.px-2
                      i.fa.fa-star.text-warning.me-2
                      | #{course.average_rating}
                    small.flex-fill.text-left.p-2
                      i.fa.fa-clock.me-2
                      | #{course.totalHours}#{t('home.Hrs')}
                    small.text-primary.py-1.px-2.fw-bold.fs-6
                      if isLoggedIn
                        if purchasedCourses.some(purchasedCourse => purchasedCourse.id === course.id)
                          a(href=`/enrollments/${course.id}`)
                            | #{t('home.Enroll')}  
                            i.fa.fa-chevron-right.me-2.fs-10
                        else
                          a(href=`/payments/${course.id}`)
                            | #{course.price}$ #{t('home.Buy')}
                            i.fa.fa-chevron-right.me-2.fs-10
                      else
                        a(href=`/login`) 
                          | #{course.price}$  #{t('home.Buy')}  
                          i.fa.fa-chevron-right.me-2.fs-10
          else
                p.text-center #{t('home.NoCoursesAvailable')}
                
  //- Pagination Section
  if pageCount > 1
    .d-flex.justify-content-center.mt-4
      nav
        ul.pagination
          //- Previous Page Link
          li.page-item(class=(currentPage === 1 ? 'disabled' : ''))
            a.page-link(href=`?page=${currentPage - 1}&sortBy=${filters.sortBy}&sortOrder=${filters.sortOrder}&professorId=${filters.professorId || ''}&minPrice=${filters.minPrice || ''}&maxPrice=${filters.maxPrice || ''}&minRating=${filters.minRating || ''}`)
              | « #{t('home.Previous')}

          //- Page Numbers
          each num in [...Array(pageCount).keys()].map(n => n + 1)
            li.page-item(class=(currentPage === num ? 'active' : ''))
              a.page-link(href=`?page=${num}&sortBy=${filters.sortBy}&sortOrder=${filters.sortOrder}&professorId=${filters.professorId || ''}&minPrice=${filters.minPrice || ''}&maxPrice=${filters.maxPrice || ''}&minRating=${filters.minRating || ''}`) #{num}

          //- Next Page Link
          li.page-item(class=(currentPage === pageCount ? 'disabled' : ''))
            a.page-link(href=`?page=${currentPage + 1}&sortBy=${filters.sortBy}&sortOrder=${filters.sortOrder}&professorId=${filters.professorId || ''}&minPrice=${filters.minPrice || ''}&maxPrice=${filters.maxPrice || ''}&minRating=${filters.minRating || ''}`)
              | #{t('home.Next')} »

  include partial/footer
