extends layout

block content
  include partial/navbar
  <!-- Header Start -->
  .container-fluid.bg-primary.py-5.mb-5.page-header
    .container.py-5
      .row.justify-content-center
        .col-lg-10.text-center
          h1.display-3.text-white.animated.slideInDown #{t('home.course')}
          nav(aria-label='breadcrumb')
            ol.breadcrumb.justify-content-center
              li.breadcrumb-item
                a.text-white(href='/') #{t('home.home')}
              li.breadcrumb-item
                a.text-white(href='') #{t('home.course')}
  <!-- Header End -->

  <!-- Courses Start -->
    .container-xxl.py-5
    .container
      .text-center.wow.fadeInUp(data-wow-delay='0.1s')
        h6.section-title.bg-white.text-center.px-3 #{t('home.Courses-title')}
        h1.mb-5.custom-color #{t('home.Courses-content')}
      .row.g-4.py-2
        if courses && courses.length > 0
          each course in courses
            .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
              .course-item.shadow
                .position-relative.overflow-hidden.text-light.image
                  img.img-fluid(src='img/course-1.jpg' alt=course.name)
                  .px-2.py-1.fw-bold.text-uppercase
                    | #{course.price ? t('home.FREE') : t('home.PAID')}
                .p-2.pb-0
                  h5.mb-1
                    a.text-dark(href=`/course/${course.id}`) #{course.name}
                  .d-flex
                    small.flex-fill.py-1.px-2
                      i.fa.fa-star.text-warning.me-2
                      | #{course.average_rating}
                    small.flex-fill.text-left.p-2
                      i.fa.fa-clock.me-2
                      | #{course.totalHours}#{t('home.Hrs')}
                    small.text-primary.py-1.px-2.fw-bold.fs-6
                      a(href=`/enroll/${course.id}`) #{t('home.Enroll')}
                      i.fa.fa-chevron-right.me-2.fs-10
        else
          p.text-center #{t('home.NoCoursesAvailable')}
  include partial/footer
