extends layout

block content
  include partial/navbar
  <!-- Carousel Start -->
  .container-fluid.p-0.mb-4
    .owl-carousel.header-carousel.position-relative
      .owl-carousel-item.position-relative
        img.img-fluid(src='img/carousel-1.jpg' alt='')
        .position-absolute.top-0.start-0.w-100.h-100.d-flex.align-items-center.custom-background
          .container
            .row.justify-content-start
              .col-sm-10.col-lg-8
                h5.text-uppercase.mb-3.animated.slideInDown.custom-color
                  | #{t('home.Carousel')}
                h1.display-3.text-white.animated.slideInDown
                  | #{t('home.Carousel1')}
                p.text-white.mb-4.pb-2
                  | #{t('home.Carousel2')}
                a.btn.text-light.py-3.px-5.mt-2(href='/signup') #{t('home.join')}
  <!-- Carousel End -->

  <!-- Service Start -->
  .container-xxl.py-5
    .container
      .row.g-2.text-center
        .col-12.wow.fadeInUp(data-wow-delay='0.3s')
          h1.custom-color #{t('home.Service')}
          p.mb-5
            |  #{t('home.Service1')}
      .row.g-4
        .col-lg-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.1s')
          .service-item.text-center.pt-3.shadow
            .p-4
              img.mb-4(src='img/icon1.png' alt='' width='60px')
              h5.mb-3 #{t('home.Service-item1')}
              p
                | #{t('home.Service-item1-content')}
        .col-lg-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.3s')
          .service-item.text-center.pt-3.shadow
            .p-4
              img.mb-4(src='img/icon2.png' alt='' width='60px')
              h5.mb-3 #{t('home.Service-item2')}
              p 
                | #{t('home.Service-item2-content')}
        .col-lg-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.5s')
          .service-item.text-center.pt-3.shadow
            .p-4
              img.mb-4(src='img/icon3.png' alt='' width='60px')
              h5.mb-3 #{t('home.Service-item3')}
              p
                | #{t('home.Service-item3-content')}
        .col-lg-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.7s')
          .service-item.text-center.pt-3.shadow
            .p-4
              img.mb-4(src='img/icon4.png' alt='' width='60px')
              h5.mb-3 #{t('home.Service-item4')}
              p
                | #{t('home.Service-item4-content')}
  <!-- Service End -->

  <!-- About Start -->
  .container-xxl.py-5
    .container
      .row.g-5
        .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
          .position-relative.h-100
            img.img-fluid.position-absolute.w-100.h-100(src='img/about.jpg' alt='' )
        .col-lg-6.wow.fadeInUp(data-wow-delay='0.3s')
          h6.section-title.bg-white.text-start.pe-3 #{t('home.About')}
          h1.mb-4.custom-color #{t('home.About-title')}
          p.mb-4
            | #{t('home.About-content')}
          p.mb-4
            | #{t('home.About-content2')}
          .row.gy-2.gx-4.mb-4
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item1')}
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item2')}
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item3')}
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item4')}
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item5')}
            .col-sm-6
              p.mb-0
                i.fa.fa-arrow-right.me-2
                | #{t('home.About-item6')}
  <!-- About End -->

  <!-- Banner Start -->
  .container-xxl.py-5.pt-5.bg-light
    .container
      .row.g-5
        .col-lg-6.p-5.wow.fadeInUp(data-wow-delay='0.3s')
          h1.mb-4.custom-color #{t('home.Banner-title')}
          p.mb-4
            | #{t('home.Banner-content')}
          a.btn.text-light.py-3.px-5.mt-2(href='/signup') #{t('home.Start')}
        .col-lg-6.wow.fadeInUp(data-wow-delay='0.1s')
          .position-relative.h-100
            img.img-fluid.position-absolute.w-100.h-100(src='img/banner-1.jpg' alt='')
  <!-- Banner End -->

  <!-- Courses Start -->
  .container-xxl.py-5
    .container
      .text-center.wow.fadeInUp(data-wow-delay='0.1s')
        h6.section-title.bg-white.text-center.px-3 #{t('home.Courses-title')}
        h1.mb-5.custom-color #{t('home.Courses-content')}
      .row.g-4.py-2
        if courses && courses.length > 0
          each course in courses
            .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
              .course-item.shadow
                .position-relative.overflow-hidden.text-light.image
                  img.img-fluid(src='img/course-1.jpg' alt=course.name)
                  .px-2.py-1.fw-bold.text-uppercase
                    | #{course.price ? t('home.FREE') : t('home.PAID')}
                .p-2.pb-0
                  h5.mb-1
                    a.text-dark(href=`/courses/${course.id}`) #{course.name}
                  .d-flex
                    small.flex-fill.py-1.px-2
                      i.fa.fa-star.text-warning.me-2
                      | #{course.average_rating}
                    small.flex-fill.text-left.p-2
                      i.fa.fa-clock.me-2
                      | #{course.totalHours}#{t('home.Hrs')}
                    small.text-primary.py-1.px-2.fw-bold.fs-6
                      a(href=`/enroll/${course.id}`) #{t('home.Enroll')}
                      i.fa.fa-chevron-right.me-2.fs-10
        else
          p.text-center #{t('home.NoCoursesAvailable')}
  .container.text-center
    a.btn.text-light.py-3.px-5.mt-2.mb-5(href='courses.html') #{t('home.All-courses')}
  <!-- Courses End -->

  include partial/footer
