extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s')
        h2 #{t('admin-course.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-course.#')}
                  th #{t('admin-course.ID')}
                  th #{t('admin-course.name')}
                  th #{t('admin-course.description')}
                  th #{t('admin-course.professor')}
                  th #{t('admin-course.professorId')}
                  th #{t('admin-course.price')}
                  th #{t('admin-course.average_rating')}
              tbody
                each course, index in courses
                  tr(id=`courseRow-${course.id}`)
                    td #{index + 1}
                    td #{course.id}
                    td #{course.name}
                    td #{course.description}
                    td #{course.professorName || 'N/A'}
                    td #{course.professorId}
                    td $#{course.price}
                    td #{course.average_rating || 'N/A'}
