extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4 
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s ')
        h2 #{t('admin-lesson.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-lesson.#')}
                  th #{t('admin-lesson.ID')}
                  th #{t('admin-lesson.name')}
                  th #{t('admin-lesson.section')}
                  th #{t('admin-lesson.description')}
                  th #{t('admin-lesson.type')}
                  th #{t('admin-lesson.content')}
                  th #{t('admin-lesson.time')}
              tbody
                each lesson, index in lessons
                  tr(id=`courseRow-${lesson.id}`)
                    td #{index + 1}
                    td #{lesson.id}
                    td #{lesson.name}
                    td #{lesson.section.name}
                    td #{lesson.description}
                    td #{lesson.type}
                    td #{lesson.content}
                    td #{lesson.time}
    
