extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s ')
        h2 #{t('admin-payment.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-payment.#')}
                  th #{t('admin-payment.ID')}
                  th #{t('admin-payment.user')}
                  th #{t('admin-payment.course')}
                  th #{t('admin-payment.amount')}
                  th #{t('admin-payment.payment-date')}
                  th #{t('admin-payment.status')}
              tbody
                each payment, index in payments
                  tr(id=`courseRow-${payment.id}`)
                    td #{index + 1}
                    td #{payment.user}
                    td #{payment.course}
                    td #{payment.amount}$
                    td #{payment.payment_date}
                    td #{payment.status}
