extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s ')
        h2 #{t('admin-section.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-section.#')}
                  th #{t('admin-section.ID')}
                  th #{t('admin-section.name')}
                  th #{t('admin-section.course')}
                  th #{t('admin-section.total-time')}
                  th #{t('admin-section.total-lesson')}
                  th #{t('admin.edit')}
                  th #{t('admin.delete')}
              tbody
                each section, index in sections
                  tr(id=`courseRow-${section.id}`)
                    td #{index + 1}
                    td #{section.id}
                    td #{section.name}
                    td #{section.course.name}
                    td #{section.total_time}h
                    td #{section.total_lesson}
                    td 
                      .edit-btn
                        button(onclick=`showEditForm('${section.id}', '${section.name}', '${section.course_id}', '${section.total_time}', '${section.total_lesson}', '${section.course.name}')`) #{t('admin.edit')}
                    td 
                      .delete-btn
                        button(onclick=`showDeleteForm(${section.id})`) #{t('admin.delete')}

  <!-- Create Form start -->
    #createModal.hidden
      .modal-content-admin
        h3 #{t('admin.create')}
        form(action="/admins/sections/create" method="POST")
          .form-group
            label(for="name") #{t('admin-section.name')}
            input(type="text" name="name" id="name" required)
          .form-group
            label(for="course") #{t('admin-section.course')}
            input(type="text" name="course" id="course" required)
          .form-group
            label(for="total_time") #{t('admin-section.total-time')}
            input(type="number" name="total_time" id="total-time" required)
          .form-group
            label(for="total_time") #{t('admin-section.total-lesson')}
            input(type="number" name="total_lesson" id="total-lesson" required)
          .btn-group-admin
            .save-btn: button(type="submit") #{t('admin.save')}
            .cancel-btn: button(type="button" onclick="hideCreateForm()") #{t('admin.cancel')}

  script.
    function showCreateForm() {
      document.getElementById('createModal').classList.remove('hidden');
    }
    function hideCreateForm() {
      document.getElementById('createModal').classList.add('hidden');
    }
  <!-- Create Form end -->

  <!-- Edit Form start -->
  #editModal.hidden
    .modal-content-admin
      h3 #{t('admin.edit')}
      form(action="/admins/sections/edit" method="POST")
        input(type="hidden" name="id" id="edit-section-id")  

        .form-group
          label(for="edit-section-name") #{t('admin-section.name')}
          input(type="text" name="section-name" id="edit-section-name" required)

        .form-group
          label(for="edit-courseId") #{t('admin-section.courseId')}
          input(type="text" name="courseId" id="edit-courseId" required)

        .form-group
          label(for="edit-courseName") #{t('admin-section.courseName')}
          input(type="text" name="courseName" id="edit-courseName" required)

        .form-group
          label(for="edit-total-time") #{t('admin-section.total-time')}
          input(type="number" name="total-time" id="edit-total-time" required)

        .form-group
          label(for="edit-total-lessons") #{t('admin-section.total-lesson')}
          input(type="number" name="total-lessons" id="edit-total-lessons" required)

        .btn-group-admin
          .save-btn: button(type="submit") #{t('admin.save')}
          .cancel-btn: button(type="button" onclick="hideEditForm()") #{t('admin.cancel')}

  script.
    function showEditForm(id, sectionName, courseId, totalTime, totalLessons, courseName) {
      document.getElementById('edit-section-id').value = id; 
      document.getElementById('edit-section-name').value = sectionName;
      document.getElementById('edit-courseId').value = courseId;
      document.getElementById('edit-total-time').value = totalTime;
      document.getElementById('edit-total-lessons').value = totalLessons;
      document.getElementById('edit-courseName').value = courseName;
      document.getElementById('editModal').classList.remove('hidden');
    }

    function hideEditForm() {
      document.getElementById('editModal').classList.add('hidden');
    }
  <!-- Edit Form end -->

  <!-- Delete Form start -->
  #deleteModal.hidden
    .modal-content-admin
      h3 #{t('admin.confirm-delete')}
      p #{t('admin.confirm-delete-section')}
      .btn-group-admin
        .confirmDelete-btn: button(onclick="confirmDelete()") #{t('admin.confirm-delete')}
        .cancel-btn: button(type="button" onclick="hideDeleteForm()") #{t('admin.cancel')}

  script.
    let sectionIdToDelete = null; 
    function showDeleteForm(id) {
      sectionIdToDelete = id; 
      document.getElementById('deleteModal').classList.remove('hidden');
    }
    function hideDeleteForm() {
      document.getElementById('deleteModal').classList.add('hidden');
    }
    function confirmDelete() {
      if (sectionIdToDelete) {
        fetch(`/admins/sections/delete/${sectionIdToDelete}`, { method: 'DELETE' })
          .then(response => {
            if (response.ok) {
              const row = document.getElementById(`sectionRow-${sectionIdToDelete}`);
              if (row) row.remove(); 
              hideDeleteForm(); 
            } else {
              console.error('Failed to delete section');
              response.json().then(data => alert(data.message)); 
            }
          })
          .catch(error => console.error('Error:', error));
      }
    }
  <!-- Delete Form end -->
