extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s ')
        h2 #{t('admin-section.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-section.#')}
                  th #{t('admin-section.ID')}
                  th #{t('admin-section.name')}
                  th #{t('admin-section.course')}
                  th #{t('admin-section.total-time')}
                  th #{t('admin-section.total-lesson')}
              tbody
                each section, index in sections
                  tr(id=`courseRow-${section.id}`)
                    td #{index + 1}
                    td #{section.id}
                    td #{section.name}
                    td #{section.course.name}
                    td #{section.total_time}h
                    td #{section.total_lesson}
