extends ../layout

block content
  include ../partial/adminPanel
  .container-xxl.py-2.mt-4
    .container
      .row.g-4.wow.fadeInUp(data-wow-delay='0.5s ')
        h2 #{t('admin-user.management')}
        .admin-container
          .create-btn
            button(onclick="showCreateForm()") #{t('admin.create')}
          center
            table.admin-table
              thead
                tr
                  th #{t('admin-user.#')}
                  th #{t('admin-user.ID')}
                  th #{t('admin-user.name')}
                  th #{t('admin-user.email')}
                  th #{t('admin-user.phone_number')}
                  th #{t('admin-user.date_of_birth')}
                  th #{t('admin-user.gender')}
                  th #{t('admin-user.address')}
                  th #{t('admin-user.identity_card')}
                  th #{t('admin-user.additional_info')}
                  th #{t('admin.edit')}
                  th #{t('admin.delete')}
              tbody
                each user, index in users
                  tr(id=`userRow-${user.id}`)
                    td #{index + 1}
                    td #{user.id}
                    td #{user.name}
                    td #{user.email}
                    td #{user.phone_number}
                    td #{user.date_of_birth} 
                    td #{user.gender}
                    td #{user.address}
                    td #{user.identity_card}
                    td #{user.additional_info || 'N/A'} 
